header {
    color: rgb(255, 255, 255);
    top: 0;
    left: 0;
    position: sticky;
}

.square {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
    background-color: rgb(26, 26, 26);
    z-index: 999;
}

#art.square {
    background-color: rgb(250, 245, 236);
}

.gauche {
    justify-content: flex-start;
    display: flex;
    align-items: center;
    padding-left: 5%; 
    gap: 1vh; 
}

.stretch {
    justify-content: stretch;
    flex: 1 1 0%;
}

.droite {
    padding-right: 2vw;
    display: flex;
    gap: 3vh;
    justify-content: flex-end;
}

a {
    color: rgb(186, 196, 250);
}

.btnTxt {
    color:rgb(178, 169, 255);
    border: none;
    padding: 0;
    background-color: rgb(36, 36, 36);
    font-family: "Consolas";
    font-size: 1.09rem;
    cursor: pointer;
}

.btn {
    all: unset;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-family: Cabin, sans-serif;
    font-weight: 700;
    font-size: 2vh;
    color: rgb(29, 29, 29);
    background-color: #ccc;
    border-radius: 20px;
    cursor: pointer;

    padding: 0.4em 0.8em; 
    outline: solid #ccc;
    outline-width: 5px;
    outline-offset: -1px; 

    transition: all 0.3s ease-out;

    user-select: none;
    -webkit-user-select: none;
}
.btn:hover {background-color: rgb(26, 26, 26); color:#ffffff; outline-color: #ffffff;}

#art.btn {
    background-color: #1d1d1d;
    color: rgb(250, 245, 236);
    outline: solid #1d1d1d;
    outline-width: 5px;
    outline-offset: -1px; 
}

#art.btn:hover {background-color: rgb(250, 245, 236); color:#1d1d1d; outline-color: #1d1d1d;}

.side {
    color: #d1d1d1;
    position: fixed;
    overflow: hidden;
    top: calc(10% - 1px);
    left: 0%;
    margin: 0px;
    height: 91vh;
    min-width: max-content;
    padding-right: 5px;
    width: 15%;
    z-index: 2;
    background-color: #141414;
    display: table-column;
    outline-style: solid;
    outline-width: 1px;
    outline-color: #303030;
    z-index: 998;
}

.line {
    position: fixed;
    margin-left: 1.5%;
    width: 1px;
    height: 2.3vh;
    background-color: #616161;
}

.firstrow {
    display: flex;  
    margin-left: 0.5vw;
    font-size: clamp(0.75rem, 1.25vw, 1.25rem);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.row {
    display: flex;
    background-color: #141414;
    color: #ccc;
    font-size: clamp(0.875rem, 1.5vw, 1.25rem);
    background: none;
    border: none;
    padding-right: 100%;
    cursor: pointer;
}

.row:hover {background-color: #24262b;}

#current {
    background-color: #393844;
    cursor: initial;
}

.textRow {
    padding-left: 2vw;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bold {
    font-family: Cabin, sans-serif;
    font-weight: 700;
}

body {
    background-color: rgb(36, 36, 36);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    max-width: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

body#art {
    background-color: rgb(238, 227, 209);
    padding-left: 2vw;
}

main#dev {
    padding-top: 11vh;
    padding-left: max(17%, calc(1vw + 135px));
    color: #e6e6e6;
    font-family: "Consolas";
}

main#art {
    color: #17071f;
}

h1 {
    color: #e6e6e6;
}

.content {
    white-space: pre-line;
    padding-left: 2vw;
    font-size: 1.09rem;
    line-height: 22px;
}

#lines {
    color: #767486;
    font-size: 1.09rem;
    line-height: 22px;
    display: flex;
    flex-direction: column;
}

.box {
    display: flex;
    flex-direction: row;
}

.box#art {
    align-items: center;
    gap: 16px;
    display: flex;
    overflow: hidden;
}

#logo {
    background: none;
    border: none;
    font-family: renogare, sans-serif;
    font-size: 6vh;
    filter: drop-shadow(0 0 0.2rem rgb(64, 64, 77));
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.card {
    width: 27vw;
    height: 70vh;
    border-radius: 50px;
    background-color: #111c2e;
}

.cardContent {
    color: rgb(238, 227, 209);
    font-size: 1.5rem;
    font-family: Cabin;
    font-weight: 100;
    padding-left: 2vw;
    padding-right: 2vw;

}

.letitre {
    font-family: Cabin;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    color: #fff;
}

.art#logo {
    color: #1d1d1d;
    filter: drop-shadow(0 0 0.2rem rgb(160, 151, 187));
}

.container {
    background-color: rgb(198, 204, 173);
    border-radius: 30px;
    overflow: hidden;
    padding: 0%;
    max-width: 70vw;
}

#btnDroite {
    position: absolute;
    border-radius: 30px;
    margin-top: -80vh;
    max-height: 80vh;
    display: block;
    width: 5vw;
    height: 80vh;
    margin-left: 0;
    background-color: rgba(94, 94, 94, 0.212);
}

.Skg {
    padding-top: calc(40vh - 1.5vw);
    padding-left: 2vw;
}

#btnGauche {
    position: absolute;
    border-radius: 30px;
    right: calc(30vw - 2vw - 8px);
    margin-top: -80vh;
    max-height: 80vh;
    display: block;
    width: 5vw;
    height: 80vh;
    background-color: rgba(94, 94, 94, 0.212);
}

.rollElement {
    max-height: 80vh;
    padding-left: 0;
}

#break {
    height: 11vh;
    width: 5px;
    display: block;
}

.mainRoll {
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    gap: 1rem;
    overflow-x: hidden;
}

.mainRoll::-webkit-scrollbar {
    display: none;
}

#zob {
    display: block;
    width: 80vw;
    height: auto;
    background-color: rgba(2, 2, 2, 0);
    flex-shrink: 0;
}

.path {
    position: fixed;
    font-size: 2.3vh;
    color: #b8b8b8;
    top: 10vh;
    left: 0px;
    width: 100%;
    height: 3.5vh;
    background-color: #242424;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1.art {
    font-size: 3rem;
    font-family: renogare;
    font-weight: 100;
    padding-left: 10%;
    color:#111c2e
}

#name-path {
    padding-left: max(17.5%, calc(2vw + 150px));
}

.point {
    height: 2vh;
    width: 2vh;
    background-color: #ffffff;
    border-radius: 50%;
    transition: 0.3s;
    outline: solid;
    outline-width: 0.3vh;
    outline-offset: -0.2vh;
    outline-color: #ffffff;
}

.element {
    border-radius: 30px;
    padding: 0;
    width: 600px;
    height: 400px;
    overflow: hidden;
}

img.element {
    object-fit: cover;
    object-position: top;
    transition: all 200ms ease-in-out;
}

img.element:hover { transform: scale(1.5);}

.point:hover {background-color: rgb(26, 26, 26)}

#art.point {
    background-color: #1d1d1d;
    outline-color: #1d1d1d;
}

#art.point:hover {background-color: rgb(250, 245, 236)}

svg {
    width: 3vh;
    height: 3vh;
}

.menu {
    display: none;
    border-radius: 20%;
    padding: 5px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-color: rgb(26, 26, 26);
    filter: drop-shadow(0 0 0.2rem rgb(26, 26, 26));
    transition-duration: 0.5s;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
    overflow:hidden;
}

#selectedLine {
    position: relative;
    height: 22px;
    width: 100%;
    border-left: 0px;
    border-right: 0px;
    border-top: solid 2px #494949;
    border-bottom: solid 2px #494949;
    outline-offset: -1px;
}

@font-face {
    font-family: renogare;
    src: url(/Renogare-Regular.otf);
}

@font-face {
    font-family: Cabin;
    src: url(https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,700;1,700&display=swap);
}

@font-face {
    font-family: consolas;
    src: url(./Consolas-Regular.ttf);
}

@media screen and (max-width: 780px) {
    .row {
        font-size: 2rem;
    }

    .firstrow {
        font-size: 2rem;
    }
    
    .menu {
        display: block;
    }

    .side {
        width: 780px;
        right: 0px;
    }

    main#dev {
        padding-left: 10px;
    }

    #name-path {
        padding-left: 25px;
    }
    
    #chevron {
        width: 40px;
        height: 40px;
    }
}
