header {
    color: rgb(255, 255, 255);
    top: 0;
    left: 0;
    position: sticky;
}

.square {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
    background-color: rgb(26, 26, 26);
    z-index: 999;
}

.gauche {
    justify-content: flex-start;
    display: flex;
    align-items: center;
    padding-left: 5%; 
    gap: 1vh; 
}

.stretch {
    justify-content: stretch;
    flex: 1 1 0%;
}

.droite {
    padding-right: 2vw;
    display: flex;
    justify-content: flex-end;
    gap: 1vw;
}

.btn {
    all: unset;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-family: Cabin, sans-serif;
    font-weight: 700;
    font-size: 2vh;
    color: rgb(29, 29, 29);
    background-color: #ccc;
    border-radius: 20px;
    cursor: pointer;

    padding: 0.4em 0.8em; 
    outline: solid #ccc;
    outline-width: 5px;
    outline-offset: -1px; 

    transition: all 0.3s ease-out;

    user-select: none;
    -webkit-user-select: none;
}
.btn:hover {background-color: rgb(26, 26, 26); color:#ffffff; outline-color: #ffffff;}

.side {
    color: #d1d1d1;
    position: fixed;
    overflow: hidden;
    top: calc(10% - 1px);
    left: 0%;
    margin: 0px;
    height: 91vh;
    min-width: max-content;
    padding-right: 5px;
    width: 15%;
    z-index: 2;
    background-color: #141414;
    display: table-column;
    outline-style: solid;
    outline-width: 1px;
    outline-color: #303030;
    z-index: 998;
}

.line {
    position: fixed;
    margin-left: 1.5%;
    width: 1px;
    height: 2.3vh;
    background-color: #616161;
}

.firstrow {
    display: flex;  
    margin-left: 0.5vw;
    font-size: clamp(0.75rem, 1.25vw, 1.25rem);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.row {
    display: flex;
    background-color: #141414;
    color: #ccc;
    font-size: clamp(0.875rem, 1.5vw, 1.25rem);
    background: none;
    --side-width: 2;
    border: none;
    padding-right: 100%;
    cursor: pointer;
}

.row:hover {background-color: #24262b;}

#current {
    background-color: #393844;
    cursor: initial;
}

.textRow {
    padding-left: 2vw;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bold {
    font-family: Cabin, sans-serif;
    font-weight: 700;
}

body {
    background-color: rgb(36, 36, 36);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    max-width: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

main#dev {
    padding-top: 11vh;
    padding-left: max(17%, calc(1vw + 135px));
    color: rgb(172, 172, 172);
    font-family: "Consolas";
}

h1 {
    color: #e6e6e6;
}

div#logo {
    background: none;
    border: none;
    font-family: renogare, sans-serif;
    font-size: 6vh;
    filter: drop-shadow(0 0 0.2rem rgb(64, 64, 77));
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.path {
    position: fixed;
    font-size: 2.3vh;
    color: #b8b8b8;
    top: 10vh;
    left: 0px;
    width: 100%;
    height: 3.5vh;
    background-color: #242424;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#name-path {
    padding-left: max(17.5%, calc(2vw + 150px));
}

.point {
    height: 2vh;
    width: 2vh;
    background-color: #ffffff;
    border-radius: 50%;
    transition: 0.3s;
    outline: solid;
    outline-width: 0.3vh;
    outline-offset: -0.2vh;
    outline-color: #ffffff;
}

.point:hover {background-color: rgb(26, 26, 26)}

svg {
    width: 3vh;
    height: 3vh;
}

#Youtube {
    height: 4vh;
    width: 4vh;
    display: block;
    transition: 0.3s;
    filter: invert(82%) sepia(2%) saturate(0%) hue-rotate(192deg) brightness(99%) contrast(94%) drop-shadow(0 0 0.2rem rgb(26, 26, 26));
}

#Youtube:hover {filter: invert(100%) sepia(74%) saturate(0%) hue-rotate(237deg) brightness(108%) contrast(101%) drop-shadow(0 0 0.2rem rgb(68, 68, 68));}

@font-face {
    font-family: renogare;
    src: url(/Renogare-Regular.otf);
}

@font-face {
    font-family: Cabin;
    src: url(https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,700;1,700&display=swap);
}

@media screen and (max-width: 780px) {
    .row {
        font-size: 0.75rem;
    }

    .firstrow {
        font-size: 0.75rem;
    }

    main#dev {
        padding-left: calc(1vw + 135px);
    }

    #name-path {
        padding-left: calc(1vw + 135px);
    }

    .side {
        position: fixed;
        height: 2000px;
        overflow-y: auto;
        width: 15%;
    }
}